<html>
<head>
    <title>vue</title>
    <meta charset="utf-8">
</head>
<body>
	<div id="app">
		<div id='app'>
			<input type="checkbox" v-model="lang" value="html">
			<input type="checkbox" v-model="lang" value="css">
			<input type="checkbox" v-model="lang" value="js">
		</div>
		<ul>
			<li v-for='i in lang'>{{ i }}</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				lang: [],
			},
		});
	</script>
</body>
</html>